@import 'variables';

.modal-slider-item {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  &.modal-slider-item--image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}
