@import 'variables';

.bit-gallery-image {
  position: relative;
  padding: 1px;

  img {
    cursor: pointer;
  }

  button {
    position: absolute;
    top: 5px;
    right: 5px;
    color: #fff;

    i {
      text-shadow: 0 0 1px rgba(0,0,0,0.3);
    }
  }
}
