
.bit-admin-add-images {

  .bit-admin-add-images__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-bottom: 15px;

    .bit-admin-add-images__input {
    }

    .bit-admin-add-images__images {
      overflow-x: hidden;
      overflow-y: auto;
    }

  }

}
