@import 'variables';

.bit-home {

  .bit-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  a {
    display: block;
    max-width: 90%;
    max-height: 90%;
  }

  img {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }
}
