@import 'variables';

.bit-home {

  .bit-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  img {
    max-width: 90%;
    max-height: 90%;
  }
}
