@import 'variables';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i');

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.bit-app {
  width: 100%;
  height: 100%;
}

.bit-app-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 56px;
  line-height: 56px;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 3px rgba(0,0,0,0.4);

  h1 {
    display: none;
    margin: 0;
    padding: 0;
  }

  ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    flex: 1;
    justify-content: center;

    li {
      display: inline-block;

      a {
        display: inline-block;
        height: 56px;
        line-height: 56px;
        padding: 0 10px;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 300;
        letter-spacing: 0.5px;
        color: #000;
        transition: all 0.2s ease;

        &.logo {
          font-size: 18px;
          font-weight: 500;
          letter-spacing: 2px;
          text-align: center;

          span {
            display: block;
            margin-top: -20px;
            margin-left: -1px;
            width: 100%;
            line-height: 8px;
            letter-spacing: 1px;
            font-size: 8px;
            font-weight: 400;
          }
        }

        &.active {
          color: #999;
        }

        &:hover {
          color: #999;
        }
      }
    }

    @media (min-width: $screen-sm) {
      li {

        a {
          width: 72px;
          text-align: center;
          padding: 0;
          font-size: 13px;
          letter-spacing: 1px;

          &.logo {
            font-size: 22px;

            span {
              margin-top: -17px;
              margin-left: -2px;
              line-height: 9px;
              font-size: 9px;
            }
          }
        }
      }
    }
  }
}

.bit-app-content {
  position: absolute;
  z-index: 1;
  top: 56px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
}
