@import 'variables';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i');

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1,
h2 {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

p {
  margin: 0;
  padding: 0;
  line-height: 22px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.5px;
}

ul,
ol {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.bit {
  width: 100%;
  height: 100%;
}

.bit-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 56px;
  line-height: 56px;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 3px rgba(0,0,0,0.4);

  h1 {
    display: none;
    margin: 0;
    padding: 0;
  }

  ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    flex: 1;
    justify-content: center;

    li {
      display: inline-block;

      a {
        display: inline-block;
        height: 56px;
        line-height: 56px;
        padding: 0 10px;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 300;
        letter-spacing: 0.5px;
        color: #000;
        transition: all 0.2s ease;

        &.logo {
          font-size: 18px;
          font-weight: 500;
          letter-spacing: 2px;
          text-align: center;

          span {
            display: block;
            margin-top: -20px;
            width: 100%;
            line-height: 8px;
            letter-spacing: 1px;
            font-size: 8px;
            font-weight: 400;
          }
        }

        &.active {
          color: #999;
        }

        &:hover {
          color: #999;
        }
      }
    }

    @media (min-width: $screen-sm) {
      li {

        a {
          padding: 0 15px;
          font-size: 13px;
          letter-spacing: 1px;

          &.logo {
            font-size: 22px;

            span {
              margin-top: -17px;
              margin-left: -1px;
              line-height: 9px;
              font-size: 9px;
            }
          }
        }
      }
    }
  }
}

.bit-content {
  position: absolute;
  top: 56px;
  left: 0;
  right: 0;
  bottom: 0;
}

.ReactModal__Content {
  top: 50% !important;
  left: 50% !important;
  right: auto !important;
  bottom: auto !important;
  width: 100% !important;
  height: 100% !important;
  padding: 0 !important;
  transform: translate(-50%, -50%) !important;

  @media screen and (max-width: 799px) {
    border: none !important;
    border-radius: 0 !important;
  }

  @media screen and (min-width: 800px) {
    width: 600px !important;
    height: 400px !important;
    max-height: 80% !important;
  }
}
